*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.title{
	background: #2E294E;
	color: #fff;
	font-size: 48px;
	text-align: center;
	padding: 50px;
	text-transform: uppercase;
	margin-bottom: 30px;
}
.key-container{
	max-width: 1000px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.key{
	text-transform: uppercase;
	font-size: 28px;
	font-weight: 700;
	background: #2E294E;
	width: 9%;
	text-align: center;
	width: 80px;
	height: 80px;
	line-height: 80px;
	color: #fff;
	border: 2px solid #333h;
	margin-bottom: 20px;
	transition: all .07s ease;
	
}
.playing{
	transform: scale(1.1);
	border: 3px solid #ffc600;
  	box-shadow: 0 0 1rem #ffc600;
}